<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
    <context:component-scan base-package="com.tao.controller"></context:component-scan>

    <!--<mvc:default-servlet-handler></mvc:default-servlet-handler>-->
    <mvc:default-servlet-handler/>
    <!--<mvc:resources mapping="/css/**" location="/css/**"></mvc:resources>
    <mvc:resources mapping="/img/**" location="/img/**"></mvc:resources>
    <mvc:resources mapping="/js/**" location="/js/**"></mvc:resources>
    <mvc:resources mapping="/plugins/**" location="/plugins/"></mvc:resources>-->

    <mvc:annotation-driven>
        <!--解决responseBody返回String类型中文乱码-->
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value="text/html;charset=utf-8"></property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <bean class="com.tao.util.MyMappingException">
        <property name="exceptionAttribute" value="ex"></property>
        <property name="defaultErrorView" value="500"></property>
        <property name="defaultStatusCode" value="500"></property>
        <property name="statusCodes">
            <props>
                <prop key="404">404</prop>
            </props>
        </property>
        <!--<property name="exceptionMappings">
            <props>
                <prop key="java.lang.ArithmeticException"></prop>
            </props>
        </property>-->
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/login"></mvc:mapping>
            <bean class="com.tao.MyInterceptor.MyInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 配置文件解析器 ，id必须是：multipartResolver-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760"></property>
        <property name="defaultEncoding" value="utf-8"></property>
    </bean>

</beans>